<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <link href="~/Content/Index.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("~/Views/Home/_QuangCao.cshtml")
    @*menu top*@
    @Html.Action("MenuTop","Home")
    @RenderSection("header", false)
    @* slide *@
    @RenderSection("slide", false)
    @* food ter*@
    <div class="body">
        <div class="row">
            <div class="col-sm-3 col-md-4 col-lg-3">
                <div id="menu-left">
                    @RenderSection("menuleft", false)
                </div>
            </div>
            <div class="col-sm-9 col-md-8 col-lg-9 ">

                @RenderSection("menusearch", false)

                <div class="body">
                    @RenderBody()
                </div>
            </div>
        </div>
        @* footer *@
        <div style="clear:both"></div>
        @Html.Partial("~/Views/Home/_Footer.cshtml")
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jgSlider.js"></script>
    <script>
        $(document).ready(function () {
            $(".jg-slider1").jgSlider({ effect: "left", mouseOverStop: true });
        });
    </script>
    <script language="javascript" src="~/Scripts/Home.js"></script>
</body>
</html>
